<h1><%= @user_product.product.name %></h1>
<p>Stock: <%= @user_product.stock %></p>

<% if @degustations.nil? %>
  Il n'y a pas encore de dégustation pour ce produit
  <%= link_to "Ajouter une dégustation", new_degustation_path, class: "btn btn-primary" %>
<% else %>
  <h2>Avis:</h2>
  <% @degustations.each do |degustation| %>
    <p>Note: <%= degustation.rating %></p>
    <p><%= degustation.description %></p>
  <% end %>
<% end %>
