<%= f.input :name, label: "Nom", class: 'product-name-select' %>

<%= f.input :year, label: "Année", as: :integer, input_html: { min: '0', step: '1' } %>

<%= f.input :description, label: "Description du produit", placeholder: "Vin rouge, sud de la France" %>

<%= f.simple_fields_for :user_product do |up| %>
  <%= up.input :stock, label: "Votre stock", required: false, as: :integer, input_html: { min: '0', step: '1' } %>
<% end %>

<p>Informations complémentaires</p>

<%= f.input :price_min, label: "Prix minimum" %>

<%= f.input :price_max, label: "Prix maximum" %>

<p>Ajouter un avis (optionnel)</p>
<%= f.simple_fields_for :degustation do |degust| %>
  <%= degust.input :rating, label: "Note", required: false, class: "rating-input", input_html: { type: "range", max: 5, min: '0', step: '1' }  %>
  <%= degust.input :description, label: "Description", required: false %>
<% end %>

<%= f.submit "Sauvegarder", class: "waves-effect waves-light btn-large", style:"width:100%" %>
